@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 4px;
	font-family: 'Poppins', sans-serif;
}
body{
	background: url(../IMG/FondoMasCompost.png);
	background-size: cover;	
}

header img{
	
	width: 220px;
	height: 150px;
}

.formulario{

    background: rgb(16, 161, 115,0.5);
    position: absolute;
    padding: 25px 30px;
    top: 30%;
    left: 36%;
    border-radius: 20px;
}

.btn-enviar{
	padding: 10px 10px 10px 10px;
	border: 0px;
	border-radius: 6px;
	background-color: #789062;
	color: #FFFFFF;
	margin-left: 35%;
	cursor: pointer;
	margin-top: 15px;
}

.label{
	margin-left: 20%;
}

.input input{
	width: 250px;
	border: 2px solid darkgray;
	box-shadow: 2px 2px 2px 2px;
}

.link a{
	text-decoration: none;
	 display: flex;
    justify-content: space-between;
    margin-top: 15px;

}